.banner
    @media screen and (min-width: $break-desktop)
        padding: 50px 0 30px 0
        justify-content: center

    &__player
        position: relative
        width: 100%
        @media screen and (min-width: $break-desktop)
            width: 40%

    &__video
        width: 100%
        background-image: url('../images/video-background.png')
        background-size: cover

    &__text
        display: none
        @media screen and (min-width: $break-desktop)
            display: inline-block
            text-align: center
            margin-left: 5%
            font-size: 4.2em
            color: white
            div:first-of-type
                margin-top: 10%

    &__text--yellow
        color: $theme-yellow
